<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>products</title>
</head>

<body>
    <h1>products:</h1>
    <a href="{% url 'product_add' %}">add product</a>
    <ul>
        {% for product in products %}
        <li>
            <img src="{{ product.image.url }}">
            <h3>{{ product.brand }}</h3>
            <a href="{% url 'product_details' product.pk %}">
                <h3>{{ product.title }}</h3>
            </a>
            <h4>{{ product.price }}</h4>
        </li>
        {% empty %}
        <li>
            <h3>sorry, we don't have any products yet.</h3>
        </li>
        {% endfor %}
    </ul>
</body>

</html>