<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>products</title>
</head>

<body>
    <a href="{% url 'product_edit' product.pk %}">edit</a>
    <a href="{% url 'product_delete' product.pk %}">delete</a>
    <div>{{ product.brand }}</div>
    <h3>{{ product.title }}</h3>
    <p>{{ product.description }}</p>
    <div>{{ product.price }}</div>

    <a href="{% url 'products_list' %}">back to products page.</a>
</body>

</html>