{% extends "base.html" %}
{% block head_title %}Order successfully{% endblock %}

{% block content %}
<section>
    <div>
        <h1 class="section-headline">Thank You!</h1>
    <p class="section-description">
        Please check your email further information about your order.
    </p>
    <p class="section-description">
        Your ordered price: ${{ total_price | floatformat:2  }}
    </p>
    <p class="section-description">
        Your ordered products:
        {% for product in orderitems %}
            <span>{{ product.title|capfirst }}</span>,
        {% endfor %}
    </p>
        <a class="back" href="{% url 'products_list' %}">Continue to homepage</a>
    </div>
</section>
{% endblock %}