{% extends "base_form.html" %}
{% block head_title %}Order successfully{% endblock %}

{% block content %}
<main class="login-bg1">
    <!-- login Area Start -->
    <div class="login-form-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="login-form">
                        <!-- Login Heading -->
                        <div class="login-heading">
                            <span>Thank You!</span>
                            <p>Please check your email further information about your order.</p>
                            <p>Your ordered price: ${{ total_price | floatformat:2  }}</p>
                            <p>Your ordered products:
                                {% for product in orderitems %}
                                <span>{{ product.title|capfirst }}</span>
                                {% endfor %}
                            </p>
                            <a class="btn" href="{% url 'home' %}">Continue to homepage</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}